" How to reload changes
" :source ~/.ideavimrc

" -----------------------------------------------------------------------------
" Plugins 
" -----------------------------------------------------------------------------

" easymotion
" <Space>
set easymotion

" surround
" ys, cs, ds, S
set surround

" multiple-cursors
" <A-n> : next
" <A-x> : skip
" <A-p> : prev
" g<A-n>: match without boundaries
set multiple-cursors

" commentary
" gcc, gc + motion, v_gc
set commentary

" argtextobj
" daa, caa, dia, cia
set argtextobj

" Disabled
" set ReplacewithRegister
" set exchange
" set textobj-entire

" -----------------------------------------------------------------------------
" Set commands
" -----------------------------------------------------------------------------

" IDEA
set ideamarks           " sync mark with IDE's bookmark
set ideajoin            " join command will be performed via IDE
set idearefactormode=keep   " keep the mode that was enabled before starting a refactoring

" Search
set wrapscan            " searches wrap around the end of file
set hlsearch            " highlight matches with the last search pattern
set smartcase           " no ignore case when pattern is uppercase
set incsearch           " show where search pattern typed so far matches
set ignorecase          " ignore case in search patterns

" Cursor
set scrolloff=10        " minimum number of lines above and below the cursor

" Clipboard (IdeaVim > System)
set clipboard+=unnamed  " Use the clipboard as the default register
set visualbell
set noerrorbells

" -----------------------------------------------------------------------------
" Mappings
" -----------------------------------------------------------------------------

" Leader
let mapleader=","

" Windows navigation
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" Easymotion
let g:EasyMotion_startofline=0 " Keep cursor positin
nmap f <Plug>(easymotion-bd-f)
nmap <Space>h <Plug>(easymotion-bl)
nmap <Space>j <Plug>(easymotion-j)
nmap <Space>k <Plug>(easymotion-k)
nmap <Space>l <Plug>(easymotion-wl)

" Actions
nmap ,ld :action defaultLombokData<CR>
nmap <Leader>rn <Action>(RenameElement)
nmap <Leader>rp <Action>(Replace)
