" Edit and reload changes ------------------------------------------------------

nnoremap \r :source ~/.ideavimrc<CR>

" Map leader to space ----------------------------------------------------------

let mapleader=" "

" Plugins ----------------------------------------------------------------------

set easymotion
set NERDTree
set surround                " ys, cs, ds, S
set multiple-cursors        " <A-n>, <A-x>, <A-p>, g<A-n>
set commentary              " gcc, gc + motion, v_gc
set ReplaceWithRegister     " gr, grr
set argtextobj              " aa, ia
set exchange                " cx, cxx, X, cxc
set textobj-entire          " ae, ie
set highlightedyank         " highlight yanked region
set vim-paragraph-motion    " {, }
set textobj-indent          " ai, ii, aI
set matchit                 " %

" Plugin settings --------------------------------------------------------------

let g:argtextobj_pairs="[:],(:),<:>"

" Common settings --------------------------------------------------------------

set showmode

" Search
set wrapscan            " searches wrap around the end of file
set hlsearch            " highlight matches with the last search pattern
set smartcase           " no ignore case when pattern is uppercase
set incsearch           " show where search pattern typed so far matches
set ignorecase          " ignore case in search patterns

" Cursor
set scrolloff=5        " minimum number of lines above and below the cursor

" Bell
set visualbell
set noerrorbells

" Idea specific settings -------------------------------------------------------

set ideajoin            " join command will be performed via IDE
set ideastatusicon=gray
set idearefactormode=keep

" Mappings ---------------------------------------------------------------------
" C - Ctrl      A - Alt     M - Meta    S - Shift   D - Command (mac)

" ZenMode
nmap <C-z>      <Action>(ToggleDistractionFreeMode)

" Window
nmap <C-h>      <C-w>h
nmap <C-l>      <C-w>l
nmap <C-j>      <C-w>j
nmap <C-k>      <C-w>k
nmap <C-m>      <Action>(MoveEditorToOppositeTabGroup)
nmap <Tab>      <Action>(NextTab)

" Navigation
nmap <C-A-l>    <Action>(Forward)
nmap <C-A-h>    <Action>(Back)

" File
nmap <C-e>      <Action>(RecentFiles)
nmap <C-n>      <Action>(GotoClass)
nmap <C-S-n>    <Action>(GotoFile)

" Editor
map <C-/>       gcc
map <C-0>       <Action>(EditorResetFontSize)
map <C-->       <Action>(EditorDecreaseFontSize)
map <C-=>       <Action>(EditorIncreaseFontSize)
map <C-p>       <Action>(ParameterInfo)
map <C-S-k>     <Action>(MoveLineUp)
map <C-S-j>     <Action>(MoveLineDown)
" nmap <Leader>l  <Action>(OptimizeImports)<Action>(ReformatCode)

" Refactoring ------------------------------------------------------------------
nmap <C-t>      <Action>(Refactorings.QuickListPopupAction)
nmap <C-g>      <Action>(Generate)

nmap <Leader>r  <Action>(RenameElement)
nmap <Leader>s  <Action>(ChangeSignature)
nmap <Leader>o  <Action>(OverrideMethods)
nmap <Leader>i  <Action>(ImplementMethods)
nmap <Leader>v  <Action>(IntroduceVariable)
nmap <Leader>c  <Action>(IntroduceConstant)
nmap <Leader>f  <Action>(IntroduceField)
nmap <Leader>p  <Action>(IntroduceParameter)
nmap <Leader>m  <Action>(ExtractMethod)
nmap <Leader>n  <Action>(Inline)

" Run
nmap <Leader>,r <Action>(ContextRun)
nmap <Leader>,e <Action>(Rerun)
nmap <Leader>,f <Action>(RerunFailedTests)

" Mac Mappings -----------------------------------------------------------------

" Multiple-cursors
nnoremap <M-N>       <A-N>
nnoremap <M-P>       <A-P>
nnoremap <M-X>       <A-X>
nnoremap g<M-N>      g<A-N>

" Editor
" imap <C-S-CR>    <Action>(EditorCompleteStatement)

" Useful default mappings ------------------------------------------------------

" map <leader>f <Plug>(easymotion-s)
" map <leader>e <Plug>(easymotion-f)
"
" map <leader>d <Action>(Debug)
" map <leader>r <Action>(RenameElement)
" map <leader>c <Action>(Stop)
" map <leader>z <Action>(ToggleDistractionFreeMode)
"
" map <leader>s <Action>(SelectInProjectView)
" map <leader>a <Action>(Annotate)
" map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
"
" map <leader>b <Action>(ToggleLineBreakpoint)
" map <leader>o <Action>(FileStructurePopup)
